<div class="container-fluid main-wrap">
  <div class="row">
    <div class="col-xs-2 options-left">
      <h3>Фильтр</h3>
      <hr>
      <div class="options-list">
        <input type="checkbox" id="date-option" class="option-input checkbox form-control" (change)="optionsList.date = !optionsList.date;"><label for="date-option">Фильтровать по дате</label><br>
        <input type="checkbox" id="course-option" class="option-input checkbox form-control" (change)="optionsList.course = !optionsList.course;"><label for="course-option">Фильтровать по курсу</label><br>
        <input type="checkbox" id="status-option" class="option-input checkbox form-control" (change)="optionsList.status = !optionsList.status;"><label for="status-option">Фильтровать по статусу</label><br>
      </div>
      <hr>
      <div *ngIf="optionsList.date" class="date-option">
        <h3 style="text-align: center;">Дата</h3>
        <label>Период</label>
        <select [(ngModel)]="datePeriod" class="form-control">
          <option *ngFor="let datePeriod of datePeriods" [ngValue]="datePeriod">{{datePeriod}}</option>
        </select>
        <div *ngIf="datePeriod === 'Год'" style="margin-top: 10px">
          <label>Выберите год</label>
          <select class="form-control" [(ngModel)]="dateOptionYear">
            <option *ngFor="let year of yearsAvailable">{{year}}</option>
          </select>
        </div>
        <div *ngIf="datePeriod === 'Квартал'" style="margin-top: 10px">
          <label>Выберите год</label>
          <select class="form-control" [(ngModel)]="dateOptionYear"><option *ngFor="let year of yearsAvailable">{{year}}</option></select>
          <label>Выберите квартал</label>
          <select class="form-control" [(ngModel)]="dateOptionQuarter" (change)="onChangeQuarter()">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>
        <div *ngIf="datePeriod === 'Месяц'" style="margin-top: 10px">
          <label>Выберите год</label>
          <select class="form-control" [(ngModel)]="dateOptionYear"><option *ngFor="let year of yearsAvailable">{{year}}</option></select>
          <label>Выберите квартал</label>
          <select class="form-control" [(ngModel)]="dateOptionQuarter" (change)="onChangeQuarter()">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
          <label>Выберите месяц</label>
          <select class="form-control" [(ngModel)]="dateOptionMonth">
            <option *ngFor="let month of monthesAvailable[dateOptionQuarter]">{{month}}</option>
          </select>
        </div>
        <div *ngIf="datePeriod === 'День'" style="margin-top: 10px">
          <label>Выберите день</label>
          <my-date-picker [options]="myDatePickerOptions" [(ngModel)]="dateOptionDay" required></my-date-picker>
        </div>
        <hr>
      </div>
      <div *ngIf="optionsList.course" class="course-option">
        <h3 style="text-align: center;">Курс</h3>
        <input type="checkbox" class="option-input checkbox form-control" [checked]="courseOption.first" (change)="courseOption.first = !courseOption.first"><label>1</label><br>
        <input type="checkbox" class="option-input checkbox form-control" [checked]="courseOption.second" (change)="courseOption.second = !courseOption.second"><label>2</label><br>
        <input type="checkbox" class="option-input checkbox form-control" [checked]="courseOption.third" (change)="courseOption.third = !courseOption.third"><label>3</label><br>
        <input type="checkbox" class="option-input checkbox form-control" [checked]="courseOption.fourth" (change)="courseOption.fourth = !courseOption.fourth"><label>4</label><br>
        <input type="checkbox" class="option-input checkbox form-control" [checked]="courseOption.fifth" (change)="courseOption.fifth = !courseOption.fifth"><label>5</label><br>
        <hr>
      </div>
      <div *ngIf="optionsList.status" class="status-option">
        <h3 style="text-align: center;">Статус</h3>
        <input type="checkbox" class="option-input checkbox form-control" [checked]="statusOption.admis" (change)="statusOption.admis = !statusOption.admis"><label>Зачислен</label><br>
        <input type="checkbox" class="option-input checkbox form-control" [checked]="statusOption.depart" (change)="statusOption.depart = !statusOption.depart"><label>Отчислен</label><br>
        <input type="checkbox" class="option-input checkbox form-control" [checked]="statusOption.trans" (change)="statusOption.trans = !statusOption.trans"><label>Переведён</label><br>
        <input type="checkbox" class="option-input checkbox form-control" [checked]="statusOption.grad" (change)="statusOption.grad = !statusOption.grad"><label>Выпустился</label><br>
        <hr>
      </div>
      <button class="btn-primary btn" style="margin-bottom: 10px" (click)="applyOptions()">Применить</button>
    </div>
    <div class="col-xs-10 students-list">
      <div class="row options-top">
        <h3 style="text-align: center">Параметры вывода</h3>
        <hr>
        <div class="col-xs-4 columns-option">
          <h4 style="text-align: center">Столбцы</h4>
          <div class="row">
            <div class="col-xs-6">
              <div *ngFor="let column of studentColumns.slice(0, studentColumns.length/2)">
                <input type="checkbox" class="option-input checkbox form-control"
                       [checked]="studentTableColumnsView[column]"
                       (change)="studentTableColumnsView[column] = !studentTableColumnsView[column]"
                >
                <label>{{column}}</label>
              </div>
            </div>
            <div class="col-xs-6" style="padding: 0;">
              <div *ngFor="let column of studentColumns.slice(studentColumns.length/2, studentColumns.length)">
                <input type="checkbox" class="option-input checkbox form-control"
                       [checked]="studentTableColumnsView[column]"
                       (change)="studentTableColumnsView[column] = !studentTableColumnsView[column]"
                >
                <label>{{column}}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-4 sort-option" >
          <h4 style="text-align: center">Сортировка</h4>
          <label>Сортировать по: </label>
          <select class="form-control" [(ngModel)]="sortOption" (change)="sort()">
            <option [ngValue]="'fio'">ФИО</option>
            <option [ngValue]="'course'">Курс</option>
            <option [ngValue]="'status'">Статус</option>
            <option [ngValue]="'score'">Баллы ЕГЭ</option>
          </select>
        </div>
        <div class="col-xs-4 export-option">
          <h4 style="text-align: center">Экспорт</h4>
          <form ngNoForm action="http://sa.ru/api/export-doc/{{page}}/{{sortOption}}" target="_blank" method="POST">
            <ng-container *ngFor="let dateKey of filterDateKeys;">
              <input type="hidden" name="date[{{dateKey}}]" value="{{filter['date'][dateKey]}}">
            </ng-container>
            <ng-container *ngFor="let status of filter['status']; let i = index;">
              <input type="hidden" name="status[{{i}}]" value="{{status}}">
            </ng-container>
            <ng-container *ngFor="let course of filter['course']; let i = index;">
              <input type="hidden" name="course[{{i}}]" value="{{course}}">
            </ng-container>
            <input type="submit" value="Эксопртировать в .doc" class="btn btn-link">
          </form>
          <form ngNoForm action="http://sa.ru/api/export-xls/{{page}}/{{sortOption}}" target="_blank" method="POST">
            <ng-container *ngFor="let dateKey of filterDateKeys;">
              <input type="hidden" name="date[{{dateKey}}]" value="{{filter['date'][dateKey]}}">
            </ng-container>
            <ng-container *ngFor="let status of filter['status']; let i = index;">
              <input type="hidden" name="status[{{i}}]" value="{{status}}">
            </ng-container>
            <ng-container *ngFor="let course of filter['course']; let i = index;">
              <input type="hidden" name="course[{{i}}]" value="{{course}}">
            </ng-container>
            <input type="submit" value="Эксопртировать в .xls" class="btn btn-link">
          </form>
        </div>
      </div>
      <div class="list">
        <h3>Всего найдено: {{totalCountStudents}}</h3>
        <p-paginator rows="100" totalRecords="{{totalCountStudents}}" (onPageChange)="paginate($event)"></p-paginator>
        <table border="1px">
          <tr>
            <ng-container *ngFor="let column of studentColumns">
              <th *ngIf="studentTableColumnsView[column]">{{column}}</th>
            </ng-container>
          </tr>
          <ng-container *ngFor="let student of studentList">
            <tr>
              <ng-container *ngFor="let column of studentColumns">
                <td *ngIf="studentTableColumnsView[column]">{{ student[studentsColumnMap[column]]}}</td>
              </ng-container>
            </tr>
          </ng-container>
        </table>
      </div>
    </div>
  </div>
</div>
